//imports
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

//variables

$bg-color: #1f1d2b;
$text-color: #bcbcbc;
$vertical-padding: 5rem;

//animations
@keyframes ScrollY {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes ScrollX {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Scale {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ButtonScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
